.git/
.vscode/

*.a
*.bin
*.ex*
*.out
*.test
profile*.svg
*.pid
*.class
.DS_Store 

**/*.a
**/*.bin
**/*.ex*
**/*.out
**/*.test
**/profile*.svg
**/*.pid
**/*.class
**/*.profile
**/.DS_Store 

**/bin/
**/obj/

/lem